NEXT_PUBLIC_API_URL=/api/app/v1
NEXT_PUBLIC_IMAGE_HOSTS=
NEXT_PUBLIC_TENANT_BASE_DOMAIN=
NEXT_PUBLIC_ENABLE_ACCOUNT=false
NEXT_PUBLIC_ENABLE_DISCOVERY=false
NEXT_PUBLIC_ENABLE_PROJECTS=false
NEXT_PUBLIC_ENABLE_ASSETS=false
NEXT_PUBLIC_ENABLE_CHAT=false
NEXT_PUBLIC_ENABLE_IMAGE=false
NEXT_PUBLIC_ENABLE_COPYWRITING=false
NEXT_PUBLIC_ENABLE_MEDIA=false
NEXT_PUBLIC_ENABLE_EXPERIMENTAL=false
NEXT_PUBLIC_ENABLE_AGENCY=false
NEXT_PUBLIC_ENABLE_PLUGINS=false
NEXT_PUBLIC_ENABLE_REFERRALS=false
NEXT_PUBLIC_ENABLE_OAUTH=false
NEXT_PUBLIC_ENABLE_MOCK_PAYMENT=false
NEXT_PUBLIC_OAUTH_GITHUB_CLIENT_ID=
NEXT_PUBLIC_OAUTH_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_OAUTH_WECHAT_APP_ID=
NEXT_PUBLIC_OAUTH_WEIBO_CLIENT_ID=
NEXT_PUBLIC_OAUTH_QQ_APP_ID=
